.DS_Store
.env
.env.local
.idea/
.vercel
.vscode/
*.log
*.swo
*.swp
*.tmp
*~
# Build outputs
# Dependencies
# IDE
# Logs
# OS files
# Temp
# Testing
# Vercel
# VitePress
bun.lockb
coverage/
dist/
docs/.vitepress/cache
docs/.vitepress/dist
logs/
node_modules/
Thumbs.db
